* {
    box-sizing: border-box;
}

header {
    background: rgb(0,115,166);
    background: linear-gradient(90deg, rgba(0,115,166,1) 0%, rgba(9,121,35,1) 35%, rgba(0,255,192,1) 100%);
    border-radius: 100px ;
    height: 100%;
}

.logo{
    font-size: 2rem;
    margin-block-start: 1rem;
}

.main-nav{
    font-size: 2rem;
    margin-block-start: 1rem;
}

.gallery-nav {
    margin-block-end: 1.75rem;
    margin-inline-end: 1.563rem;
}

.categories {
    height: 3.75rem;
    width: 36.875rem;
    border: 0.125rem solid black;
    border-radius: 6.25rem;
    padding-inline-start: 2.5rem;
    margin-inline-start: 1.563rem;
    margin-block-start: 1.563rem;
}

canvas {
    border: 0.125rem solid black;
    align-self: center;
    justify-self: center;
}

.editor {
    background-color: grey;
    margin-inline-end: 3.125rem;
    margin-block-start: 2.5rem;
    margin-block-end: 2rem;

    border-radius: 2.5rem;
}

.designe-btns {
    background-color:rgb(37, 230, 217);
    border-radius: 1.563rem;
    padding: 1.25rem;
}

.editor-btn {
    height: 3.125rem;
    width: 3.125rem;

    border-radius: 0.625rem;
}

.outline-color, .fill-color {
    opacity: 0;
}

.stickers-container {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    border-radius: 1.563rem;
}

.sticker{
    width: 1.875rem;
    height: 1.875rem;
    font-size: 3.125rem;
    display: grid;
    justify-content: center;
    align-content: center;  
}

.download-btn {
    display: block;
    background-color: rebeccapurple;
    width: 100%;
    height: 50%;
    padding: 0.5rem;
    border-radius: 0.625rem;
    text-align: center;
    color: white;
    font-weight: bold;
}

.share-btn {
    background-color: royalblue;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.hidden {
    display: none;
}